In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Importing libraries**

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

**Load the datasets**

In [3]:
weather_df = pd.read_excel('/content/drive/MyDrive/CS/weather_features.xlsx')
energy_df = pd.read_excel('/content/drive/MyDrive/CS/energy_dataset.xlsx')

In [4]:
energy_df.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17,NaN,6436,26118,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16,NaN,5856,24934,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8,NaN,5454,23515,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2,NaN,5151,22642,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9,NaN,4861,21785,20264.0,38.41,56.04

In [5]:
weather_df.head()

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0.0,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0.0,0,800,clear,sky is clear,01n

**Drop the city_name column**

In [6]:
weather_df =  weather_df.drop(columns=['city_name'])

In [7]:
aggregated_df = weather_df.groupby('dt_iso').agg({
    'temp' : 'mean',
    'temp_min' 	: 'mean',
    'temp_max'	: 'mean',
    'pressure'	: 'mean',
    'humidity'	: 'mean',
    'wind_speed' :	'mean',
    'wind_deg'	: 'mean',
    'rain_1h'	: 'mean',
    'rain_3h'	: 'mean',
    'snow_3h'	: 'mean',
    'clouds_all' :	'mean',
    'weather_id'	: lambda x: x.mode()[0],
    'weather_main' :	lambda x: x.mode()[0],
    'weather_description' : lambda x: x.mode()[0],
    'weather_icon' : lambda x: x.mode()[0],
    }
).reset_index()

<ipython-input-7-94d930f62d4e>:16: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'int'
  'weather_icon' : lambda x: x.mode()[0],
<ipython-input-7-94d930f62d4e>:16: UserWarning: Unable to sort modes: '<' not supported between instances of 'int' and 'str'
  'weather_icon' : lambda x: x.mode()[0],

In [8]:
aggregated_df.head()

,dt_iso,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,272.491463,272.491463,272.491463,1016.4,82.4,2.0,135.2,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,272.512700,272.512700,272.512700,1016.2,82.4,2.0,135.8,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,272.099137,272.099137,272.099137,1016.8,82.0,2.4,119.0,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,272.089469,272.089469,272.089469,1016.6,82.0,2.4,119.2,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,272.145900,272.145900,272.145900,1016.6,82.0,2.4,118.4,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n

**Convert the date columns to datetime format**

In [9]:
aggregated_df['dt_iso'] = pd.to_datetime(aggregated_df['dt_iso'], utc=True)
energy_df['time'] = pd.to_datetime(energy_df['time'], utc=True)

**Merge the datasets on the common datetime column**

In [10]:
merged_df = pd.merge(energy_df, aggregated_df, left_on='time', right_on='dt_iso')

**Drop the extra 'dt_iso' column after merging**

In [11]:
merged_df =  merged_df.drop(columns=['dt_iso'])

In [12]:
merged_df.shape

(35064, 44)

# **Exploratary Data Analysis**

In [19]:
merged_df.select_dtypes(include=['number']).sum()

generation biomass                             1.344023e+07
generation fossil brown coal/lignite           1.570268e+07
generation fossil coal-derived gas             0.000000e+00
generation fossil gas                          1.970545e+08
generation fossil hard coal                    1.491581e+08
generation fossil oil                          1.045462e+07
generation fossil oil shale                    0.000000e+00
generation fossil peat                         0.000000e+00
generation geothermal                          0.000000e+00
generation hydro pumped storage aggregated     0.000000e+00
generation hydro pumped storage consumption    1.666661e+07
generation hydro run-of-river and poundage     3.406781e+07
generation hydro water reservoir               9.129885e+07
generation marine                              0.000000e+00
generation nuclear                             2.195312e+08
generation other                               2.110771e+06
generation other renewable                     3.001329e+06
generation solar                               5.020921e+07
generation waste                               9.442950e+06
generation wind offshore                       0.000000e+00
generation wind onshore                        1.915082e+08
forecast solar day ahead                       5.045944e+07
forecast wind offshore eday ahead              0.000000e+00
forecast wind onshore day ahead                1.918427e+08
total load forecast                            1.006762e+09
total load actual                              1.005196e+09
price day ahead                                1.748794e+06
price actual                                   2.029645e+06
temp                                           1.015735e+07
temp_min                                       1.011234e+07
temp_max                                       1.020879e+07
pressure                                       3.752570e+07
humidity                                       2.391961e+06
wind_speed                                     8.652145e+04
wind_deg                                       5.842173e+06
rain_1h                                        2.567107e+03
rain_3h                                        1.352239e+01
snow_3h                                        1.699370e+02
clouds_all                                     8.673927e+05
weather_id                                     2.686991e+07
dtype: float64

**Drop the column which have only zero value**

In [20]:
merged_df =  merged_df.drop(columns=['generation fossil coal-derived gas',
                                       'generation fossil oil shale',
                                       'generation fossil peat',
                                       'generation geothermal',
                                       'generation hydro pumped storage aggregated',
                                       'generation marine',
                                       'generation wind offshore',
                                       'forecast wind offshore eday ahead'])

In [21]:
merged_df.isnull().sum()

time                                            0
generation biomass                             19
generation fossil brown coal/lignite           18
generation fossil gas                          18
generation fossil hard coal                    18
generation fossil oil                          19
generation hydro pumped storage consumption    19
generation hydro run-of-river and poundage     19
generation hydro water reservoir               18
generation nuclear                             17
generation other                               18
generation other renewable                     18
generation solar                               18
generation waste                               19
generation wind onshore                        18
forecast solar day ahead                        0
forecast wind onshore day ahead                 0
total load forecast                             0
total load actual                              36
price day ahead                                 0
price actual                                    0
temp                                            0
temp_min                                        0
temp_max                                        0
pressure                                        0
humidity                                        0
wind_speed                                      0
wind_deg                                        0
rain_1h                                         0
rain_3h                                         0
snow_3h                                         0
clouds_all                                      0
weather_id                                      0
weather_main                                    0
weather_description                             0
weather_icon                                    0
dtype: int64

**Applying forward and backward fill to treat the missing values**

In [22]:
merged_df.ffill(inplace=True)
merged_df.bfill(inplace=True)
merged_df.isnull().sum()

time                                           0
generation biomass                             0
generation fossil brown coal/lignite           0
generation fossil gas                          0
generation fossil hard coal                    0
generation fossil oil                          0
generation hydro pumped storage consumption    0
generation hydro run-of-river and poundage     0
generation hydro water reservoir               0
generation nuclear                             0
generation other                               0
generation other renewable                     0
generation solar                               0
generation waste                               0
generation wind onshore                        0
forecast solar day ahead                       0
forecast wind onshore day ahead                0
total load forecast                            0
total load actual                              0
price day ahead                                0
price actual                                   0
temp                                           0
temp_min                                       0
temp_max                                       0
pressure                                       0
humidity                                       0
wind_speed                                     0
wind_deg                                       0
rain_1h                                        0
rain_3h                                        0
snow_3h                                        0
clouds_all                                     0
weather_id                                     0
weather_main                                   0
weather_description                            0
weather_icon                                   0
dtype: int64

In [23]:
merged_df.head(10)

,time,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,...,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2014-12-31 23:00:00+00:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,...,2.0,135.2,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
1,2015-01-01 00:00:00+00:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,...,2.0,135.8,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
2,2015-01-01 01:00:00+00:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,...,2.4,119.0,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
3,2015-01-01 02:00:00+00:00,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,...,2.4,119.2,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
4,2015-01-01 03:00:00+00:00,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,...,2.4,118.4,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
5,2015-01-01 04:00:00+00:00,410.0,178.0,4038.0,3590.0,156.0,2109.0,952.0,743.0,7098.0,...,2.4,174.8,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
6,2015-01-01 05:00:00+00:00,401.0,172.0,4040.0,3368.0,158.0,2108.0,961.0,848.0,7098.0,...,2.4,174.4,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
7,2015-01-01 06:00:00+00:00,408.0,172.0,4030.0,3208.0,160.0,2031.0,983.0,1012.0,7099.0,...,2.4,174.4,0.0,0.0,0.0,0.0,800,clear,sky is clear,01n
8,2015-01-01 07:00:00+00:00,413.0,177.0,4052.0,3335.0,161.0,2119.0,1001.0,1015.0,7098.0,...,1.4,248.0,0.0,0.0,0.0,0.0,800,clear,sky is clear,01d
9,2015-01-01 08:00:00+00:00,419.0,177.0,4137.0,3437.0,163.0,2170.0,1041.0,1357.0,7097.0,...,1.4,247.8,0.0,0.0,0.0,0.0,800,clear,sky is clear,01d

In [24]:
merged_df.shape

(35064, 36)

**Convert the datetime column to string as excel does not support datetimes**

In [26]:
merged_df['time'] = merged_df['time'].astype(str)

**Save the merged dataframe to a new Excel file**

In [28]:
output_path = '/content/drive/MyDrive/CS/merged_energy_weather.xlsx'
merged_df.to_excel(output_path, index=False)

'/content/drive/MyDrive/CS/merged_energy_weather.xlsx'